<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>LOGS</h1>
<h2>User login dates</h2>
<p id="logs">Logs</p>
<script>
    httpGet("http://localhost:8080/api/logs")
    function httpGet(theUrl)
    {

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );


        document.getElementById("logs").innerHTML = xmlHttp.responseText

    }


</script>

</body>
</html>