
<html>
<body>
<script>
    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
 var a = httpGet("http://localhost:8080/api/users")

</script>
<h1>You loged in what you want to do</h1>
<a href="http://localhost:8080/calculator">Calculator</a>
<a href="http://localhost:8080/logs">LogIn history</a>
<a href="http://localhost:8080/notes">Notes</a>
</body>
</html>